<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="Casa Planta Miami" />
  <meta name="description" content="Casa Planta Miami">
  <meta name="author" content="Mark Natera">

  <!-- FAVICONS -->
  <!-- <link rel="shortcut icon" href="images/favicon/favicon.png">
  <link rel="apple-touch-icon" href="images/favicon/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png"> -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Casa Planta Miami</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>

</head>
<body>
  <div id="wrap" class="boxed ">
    <div class="grey-bg">
      <%= render 'layouts/loader' %>
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </div>


  <p id="back-top">
    <a href="#top" title="Back to Top"><span class="icon icon-arrows-up"></span></a>
  </p>
  <%= javascript_include_tag 'application-btm' %>

</body>
</html>
